@import url('https://fonts.googleapis.com/css2?family=Monserrat&display=swap');

body{
    font-family: 'Monserrat', sans-serif;
    overflow: hidden;
}

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button{
    font-size: 18px;
    font-weight: bold;
}

/*--------------------------------SLIDER IMAGENES-------------------------*/

.carousel-inner{
    max-height: 20rem;
    transition-delay:"4000"
}

/*--------------------------------PANTALLA MEDIANA ---------------------------*/

@media (max-width: 768px){
    #intro, #equipo{
        width:90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;

    }

    #bg-contacto{
       
        top: -110px;
    }
}
/*--------------------------------PANTALLA MEDIANA---------------------------*/

@media (max-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}


.mapa{
    background: url(../img/mapa.png);
    width: 100%;
    height: 500px;
    top: 10%;
    left: 10%;
}

#local{
    background: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}


/*--------------------------------PANTALLA ANCHA ---------------------------*/

@media(max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;

    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

}

/*--------------------------------BACKGROUND CONTACTO ---------------------------*/

#bg-contacto{
    position: relative;
    top: -130px;

}

#section-contacto{
    background-color: #0099ff;
    min-height: 750px;
    position: relative;
}

/*--------------------------------  FORMULARIO CONTACTO   ---------------------------*/

#contacto{
   /* position: absolute;
    top: 10%;
    left: 50%;*/
    transform: translate(-50px, -50px);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-formulario{
    color: #3f3f3f;
}

/*--------------------------------  FORMULARIO LOGIN   ---------------------------*/

#login{
    /*position: absolute;
    top: 10%;
    left: 50%;*/
    transform: translate(-50px, -50px);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-login{
    color: #3f3f3f;
}

/*-------------------------------------  PIE DE PAGINA  ------------------------------*/

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: black;
}